<mat-dialog-content *ngIf="bike" class="mat-typography dialog-content">

  <div class="image-section">
    <img class="bike-photo" alt="{{bike.name}}" src="../../../../assets/images/bike_{{ bike.id % 10 + 1}}.png">
  </div>

  <div class="details-section">
    <h2>{{bike.name}}</h2>
    <p><strong>Brand:</strong> {{bike.brand}}</p>
    <p><strong>Model:</strong> {{bike.model}}</p>
    <p><strong>Rating:</strong> {{bike.rating}} / 5</p>
    <p><strong>Price: </strong>
      <strong>USD</strong> {{bike.price| currency:'USD'}} /
      <strong>CAD</strong> {{bike.cadPrice| currency:'CAD'}} /
      <strong>EUR</strong> {{bike.euroPrice| currency:'EUR'}}
    </p>
    <p><strong>Quantity:</strong> {{bike.quantity}}</p>
    <p><strong>Description:</strong> {{bike.description}}</p>
  </div>
</mat-dialog-content>
