.bike-list-container {
    .bike-list-content {
        .bike-list-actions {
            display: flex;
            justify-content: right;
            align-items: baseline;
            margin: 0 1rem 1rem 0;
            flex-wrap: wrap;
            gap: 1rem;

            .search-input {
                width: 100%;
                max-width: 350px;
                flex-grow: 1;
            }
        }
        
        @media (min-width: 800px) {
            .bike-list-actions .search-input {
                width: auto;
            }
        }

        .bike-list {
            height: calc(100vh - 165px);
            overflow-y: auto;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            gap: 30px;
        }
    }
}
