@use "@angular/material" as mat;

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Be Vietnam Pro", sans-serif;
}

@include mat.core();

$my-primary: mat.define-palette(mat.$cyan-palette, 700);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent
        ),
        typography: mat.define-typography-config(),
        density: 0
    )
);

@include mat.all-component-themes($my-theme);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-label-text-color: white;
}
